<mat-card fxFlex="20" class="size-card">
  <mat-selection-list>
    <mat-list-item [routerLink]="['/graphics/Incident-Schedule']" [routerLinkActive]="['active']">
      <mat-icon>pie_chart</mat-icon>
      Horario de incidentes
    </mat-list-item>
    <mat-list-item [routerLink]="['/graphics/Capture-users']" [routerLinkActive]="['active']">
      <mat-icon>pie_chart</mat-icon>
      Captura usuarios
    </mat-list-item>
    <mat-list-item [routerLink]="['/graphics/Applicants']" [routerLinkActive]="['active']">
      <mat-icon>pie_chart</mat-icon>
      Solicitantes
    </mat-list-item>
    <mat-list-item [routerLink]="['/graphics/Reason-for-call']" [routerLinkActive]="['active']">
      <mat-icon>pie_chart</mat-icon>
      Motivo de llamada
    </mat-list-item>
    <mat-list-item [routerLink]="['/graphics/Patient-data']" [routerLinkActive]="['active']">
      <mat-icon>pie_chart</mat-icon>
      Dato del paciente
    </mat-list-item>
    <mat-list-item [routerLink]="['/graphics/Origin']" [routerLinkActive]="['active']">
      <mat-icon>pie_chart</mat-icon>
      Procedencia
    </mat-list-item>
    <mat-list-item [routerLink]="['/graphics/Diagnostic-cause']" [routerLinkActive]="['active']">
      <mat-icon>pie_chart</mat-icon>
      Causa diagnóstica
    </mat-list-item>
    <mat-list-item [routerLink]="['/graphics/Reference-hospital']" [routerLinkActive]="['active']">
      <mat-icon>pie_chart</mat-icon>
      Hospital de referencia
    </mat-list-item>
    <mat-list-item [routerLink]="['/graphics/Support-group']" [routerLinkActive]="['active']">
      <mat-icon>pie_chart</mat-icon>
      Grupo de apoyo
    </mat-list-item>
    <mat-list-item [routerLink]="['/graphics/Attention-by-sub-centers']" [routerLinkActive]="['active']">
      <mat-icon>pie_chart</mat-icon>
      Atención por subcentros
    </mat-list-item>
  </mat-selection-list>
</mat-card>